body {
    font-family: 'Open Sans', sans-serif;

}

:root {
    --primary-green: #5ea781;
    --text-primary: #253237;
    --text-bs: black;
    --text-bs1: gray;
    --bsbthover: #253237;
}

.fullcontent .carousel-control-prev {
    display: none;
}

.fullcontent .carousel-control-next {
    display: none;
}



.fullcontent .carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 30px;
    border: 0px;
    background-clip: unset;
    color: var(--primary-green);
}

.text_one {
    font-size: 25px;
    text-transform: capitalize;
    color: var(--text-bs1);
    font-style: italic;
}

.text_two {
    width: 100%;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-transform: capitalize;
    transition: 2s;
}

.text_four {
    font-style: italic;
    padding: 5px;
    font-size: 21px;
    text-transform: capitalize;
    color: var(--text-bs1);

}

.fullcontent .button_content {
    background-color: var(--primary-green);
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
}

.fullcontent .button_content:hover {
    background-color: var(--bsbthover);
}

.fullcontent .carousel-dark .carousel-indicators [data-bs-target]:hover {
    background-color: var(--primary-green);
}

/* .fullcontent .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
} */
.fullcontent .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: var(--primary-green);
}

.fullcontent .carousel-indicators [data-bs-target] {
    background-color: white;
    opacity: 1;
}

.setborder {
    /* width: 100%; */
    border: 1px solid var(--text-bs1);
    padding: 15px;
    border-radius: 10px;

}

.setborder .text_merge {
    display: inline-block;
    vertical-align: center;
}

.text_merge h5 {
    color: var(--text-bs);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 22px;
    margin-bottom: 0;
}

.text_merge p {
    line-height: 20px;
    color: var(--text-bs1);
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
}

.setborder .img_headercontent {
    vertical-align: top;
}

.product_txp {
    position: relative;
    margin: 10px;

}

.product_txh:hover {
    overflow: hidden;
}

.product_txh img {
    width: 100%;
}

.product_txp:hover {
    overflow: hidden;
}

.product_txp img:hover {
    transition: ease;
    transform: scale(1.1);
    transition-delay: -6s;
}

.product_txh img:hover {
    transition: ease;
    transform: scale(1.1);
    transition-delay: -6s;

}

.product_txp .text_card {
    position: absolute;
    top: 59px;
    left: 44px;
    width: 165px;
}

.product_txp .circle_tx {
    float: left;
    margin-right: 6px;
}

.product_txp .circle_tx:hover {
    color: var(--primary-green);
    transition: ease;
    transform: translateX(15px);
    transition-delay: -6s;

}

.product_txp .circle_icon:hover {
    transition: ease;
    transform: translateX(15px);
    transition-delay: -6s;
}

.product_txp .circle_icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #5ea781;
    float: left;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}



.text_card h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1;
    color: var(--text-bs);
}



.text_card {
    color: #888;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1;
    margin-top: 0
}

.text_card a {
    color: black;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 1;
}

/* page footer start */
.page_footer {
    margin-top: 60px;

    z-index: 1;
    background: #efefef;
    overflow: hidden;
}

.page_footer .footer_logo {
    margin-bottom: 35px;
}

.page_footer .text_info {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--text-bs1);
}

.page_footer .need_help {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.need_help .img_phone img {
    margin-right: 15px;
}

.text_phone .phone1 {
    font-size: 16px;

    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 0;
}

.text_phone .phone {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 0;
}

.txt_phone .phone {
    font-size: 22px;
    font-weight: 600;
    color: #253237;
    margin: 0;
}

.social_follow ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: auto;
    padding-left: 0px;
}

.social_follow li {
    width: 50px;
    color: #666;
}

.footerright_content {
    background-color: #efefef;
}

.appstore_logo {
    width: 50%;
    display: inline;
}

.googleplay_logo {
    width: 50%;
    display: inline;
}

.appstore_logo img {
    width: 25%;
    margin-right: 10px;

}

.googleplay_logo img {
    width: 25%;
}

.page_footer .col_content h3 {

    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: #253237;
    margin: 0;
    font-weight: 700;
    border-bottom: 1px solid #e3e3e3;
    position: relative;
    margin-bottom: 25px;
    pointer-events: none;
}

.col_content h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    background: #4fb68d;
}

.page_footer .col_content .form-control:focus {
    box-shadow: none;
}

.col_content ul {
    list-style: none;
    padding: unset;

}

.col_content li, p {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: capitalize;
    color: #666;
}

.col_content .form_box {
    margin-bottom: 30px;
}

.page_footer .col_content li:hover {
    color: var(--primary-green);
}

.col_content .input-group-text {
    border: none;
    border-radius: 0 30px 30px 0;
    background: #253237;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    height: 46px;
    line-height: 26px;
    margin: 0;
}

.col_content .input-group-text:hover {
    background-color: var(--primary-green);
}

.col_content .form-control {
    border-radius: 30px 0 0 30px;
    width: 100%;
    border: none;
    box-shadow: none;
    height: 46px;
    color: #b1b1b1;
    font-size: 14px;
    padding: 15px 30px;
    margin: 0;
}

/* page footer end */
/* grocery product start */
.image_grocery {
    margin: 40px 100px;
}

.image_grocery img {
    width: 100%;
}

.image_grocery img:hover {
    transition: ease;
    transform: scale(1.1);
    transition-delay: -6s;
}

.image_grocery {
    overflow: hidden;
}

/* grocery product end */
.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 16:35:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 16:36:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 16:51:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .fullcontent img {
        height: 320px;

    }

    .text_two {
        font-size: 25px;
    }

    .page_footer .mb_device {
        display: none;
    }

    .page_footer {
        padding: 0px;
    }
}

@media only screen and (max-width: 425px) {
    .fullcontent .carousel-caption {
        width: 100%;
        right: 69%;
        top: 79px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 411px;

    }
}

@media only screen and (max-width: 375px) {
    .fullcontent .carousel-caption {
        width: 100%;
        right: 69%;
        top: 79px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 320px;

    }

    .text_two {
        font-size: 14px;
    }

    .setborder {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 600px) {
    .fullcontent .carousel-caption {
        width: 100%;

        top: 46px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 411px;
    }

    .setborder {
        margin-left: 0px;
        margin-right: 0px;
    }

    .page_footer {
        padding: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .fullcontent .carousel-caption {
        width: 100%;
        top: 1px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 411px;
    }

    .page_footer {
        padding: 100px;
    }
}

@media only screen and (min-width: 992px) {
    .fullcontent .carousel-caption {
        width: 50%;
        top: 30px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 411px;

    }


    .setborder {
        margin-left: 0px;
        margin-right: 0px;
    }


}

@media only screen and (min-width : 1200px) {
    .setborder {
        margin-top: 60px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}