body {
    font-family: 'Open Sans', sans-serif;

}

:root {
    --primary-green: #5ea781;
    --text-primary: #253237;
    --text-bs: black;
    --text-bs1: gray;
    --bsbthover: #253237;
}



.setborder {
    width: 60%;
    border: 1px solid black;
}



.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}



.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 30px;
    border: 0px;
    background-clip: unset;
    color: var(--primary-green);
}

.text_one {
    font-size: 25px;
    text-transform: capitalize;
    color: var(--text-bs1);
    font-style: italic;
}

.text_two {
    width: 100%;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 0px;
    text-transform: capitalize;
    transition: 2s;
}

.text_four {
    font-style: italic;
    padding: 5px;
    font-size: 21px;
    text-transform: capitalize;
    color: var(--text-bs1);

}

.button_content {
    background-color: var(--primary-green);
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
}

.button_content:hover {
    background-color: var(--bsbthover);
}

.carousel-dark .carousel-indicators [data-bs-target]:hover {
    background-color: var(--primary-green);
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #fff;
}

.carousel-dark .carousel-indicators [data-bs-target]:focus {
    background-color: var(--primary-green);
}

.fullcontent .carousel-indicators .active {
    background-color: var(--primary-green);
}

.setborder {
    width: 100%;
    border: 1px solid var(--text-bs1);
    padding: 15px;
    border-radius: 10px;
}

.setborder .text_merge {
    display: inline-block;
    vertical-align: center;
}

.text_merge h5 {
    color: var(--text-bs);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 22px;
    margin-bottom: 0;
}

.text_merge p {
    line-height: 20px;
    color: var(--text-bs1);
    font-size: 13px;
    text-transform: capitalize;
    margin: 0;
}

.setborder .img_headercontent {
    vertical-align: top;
}

.product_txp {
    position: relative;
    margin: 10px;

}

.product_txh:hover {
    overflow: hidden;
}

.product_txh img {
    width: 100%;
}

.product_txh img:hover {
    transition: ease;
    transform: scale(1.1);
    transition-delay: -6s;

}

.product_txp .text_card {
    position: absolute;
    top: 59px;
    left: 44px;
    width: 165px;
}

.product_txp .circle_tx {
    float: left;
    margin-right: 6px;
}

.product_txp .circle_icon {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #5ea781;
    float: left;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_card h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1;
    color: var(--text-bs);
}



.text_card {
    color: #888;
    font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1;
    margin-top: 0
}

.text_card a {
    color: black;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 1;
}

.slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 16:35:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 16:36:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 16:51:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 425px) {
    .carousel-caption {
        width: 100%;
        right: 69%;
        top: 79px;
        left: 30px;
        text-align: start;
    }
}

@media only screen and (max-width: 375px) {
    .carousel-caption {
        width: 100%;
        right: 69%;
        top: 79px;
        left: 30px;
        text-align: start;
    }
}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 600px) {
    .carousel-caption {
        width: 100%;

        top: -23px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 320px;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-caption {
        width: 100%;
        top: 1px;
        left: 30px;
        text-align: start;
    }

    .fullcontent img {
        height: 373px;
    }
}

@media only screen and (min-width: 992px) {
    .carousel-caption {
        width: 50%;
        top: 30px;
        left: 30px;
        text-align: start;
    }


}

@media only screen and (min-width : 1200px) {}

@media only screen and (min-width : 1366px) {}

@media only screen and (min-width : 1440px) {}

@media only screen and (min-width : 1600px) {}

@media only screen and (min-width : 1920px) {}